﻿<!DOCTYPE HTML>

<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <link rel="stylesheet" href="/res/w3.css">
  <title>Coś o algorytmach</title>
</head>

<body class="w3-sand">

<h1 class="w3-center"><b>Coś o algorytmach</b></h1>

<div class="w3-bar w3-large w3-teal">
  {% for page in pages %}
  {% if page.name|length > 0 %}
  <a href="/pages/{{ page.name }}" class="w3-bar-item w3-button w3-mobile">{{ page.title }}</a>
  {% else %}
  <a href="/" class="w3-bar-item w3-button w3-mobile">Strona główna</a>
  {% endif %}
  {% endfor %}
  {% if authenticated == false %}
  <a href="/login.php" class="w3-bar-item w3-button w3-mobile w3-right">Login</a>
  {% endif %}
</div>

<div class="w3-container w3-content w3-padding-16">
<h2 class="w3-center">{{ page_data.title }}</h2>

<div class="w3-container w3-content w3-padding-16">

{{ page_data.content|raw }}

</div>
</div>

</body>
</html>